{% extends 'emailing/base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <div class="card text-center">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Хотите удалить клиента '{{object.full_name}}'?</p>
                        <button type="submit" class="btn btn-danger">Подтвердить</button>
                        <a href="{% url 'emailing:client_list' %}" class="btn btn-warning">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
