{% extends 'emailing/base.html' %}

{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Управление сообщениями</h1>

    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-12 mb-5">
            <a type="button" class="btn btn-sm btn-outline-danger" href="{% url 'emailing:message_create' %}">Создать
                новое сообщение</a>
        </div>
    </div>
</div>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for object in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.topic }}</h5>
                        <p class="card-text">Владелец {{ object.owner }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'emailing:message_detail' object.pk %}" type="button"
                               class="btn btn-sm btn-outline-secondary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}